<body>
  <div class="flash"> <%= flash[:notice] %> </div>
  <p class="result">
    <strong>Title:</strong><%= @book.title %>
  </p>
  
  <p class="result">
    <strong>Body:</strong><%= @book.body %>
  </p>
  <!--あとで-->
  <p>
    <%= link_to "Edit", edit_book_path %>
    |
    <%= link_to "Back", books_path %>
  </p>

</body>